@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.expenseForm,
.income {
  display: flex;
  gap: 50px;
}

.addExpense,
.addIncome {
  display: flex;
  flex-direction: column;
}

input,
button {
  font-family: "Host Grotesk", serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.expenseList,
.incomeList {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.transactionDetails {
  display: flex;
  gap: 10px;
}

.body {
  display: flex;
  gap: 30px;
  background-color: #0f0f1f;
  color: azure;
  height: 100vh;
  align-items: flex-start;
  padding: 2rem;
}

.userNavigation {
  display: flex;
  flex-direction: column;
  background-color: #232348;
  gap: 10px;
  padding: 30px;
  height: 800px;
  margin-top: 50px;
  border-radius: 50px;
  align-items: flex-start;
  width: 230px;
  align-items: center;
  padding-top: 70px;
}
.userButton {
  background: none;
  border: none;
  padding: 3px 10px;
  outline: none;
  width: 100%;
  color: white;
  border: solid 2px transparent;
  display: flex;
  justify-content: flex-start;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    border-radius 0.3s ease;
  border-radius: 30px;
}

.userButton:hover {
  color: aliceblue;
  background-color: #454569;
  transition: all 0.3s ease;
}

.activeButton {
  background-color: #141444;
  color: rgb(247, 205, 236);
  padding: 3px 10px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  border: solid 2px #826cf0;
  box-shadow: 0px 1px 20px rgba(156, 89, 243, 0.5);
  display: flex;
  justify-content: flex-start;
  transition: all 1.15s ease;
}

.addExpense {
  display: flex;
  background-color: #232348;
  flex-direction: column;
  gap: 50px;
  padding: 40px 80px 20px 80px;
  height: 80vh;
  border-radius: 50px;
  align-items: center;
  width: 600px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 20px;
  gap: 10px;
}

.formTitle {
  font-size: 2.3rem;
  font-family: "Host Grotesk", serif;
  font-weight: 600;
}

.mainDisplay {
  display: flex;
}

.expenseForm {
  flex: 1;
  width: auto;
}

input {
  background-color: #232348;
  color: #a6a6a6;
  border: 3px solid #9282e1;
  border-radius: 30px;
  font-size: 1.4rem;
  padding: 10px;
  outline: none;
  width: 300px;
}

input:focus {
  color: rgb(206, 199, 199);
  outline: none;
  border: 3px solid #baafee;
  box-shadow: 0px 1px 5px rgba(169, 135, 214, 0.5);
  transition:
    box-shadow 1s ease,
    border 0.3s ease;
}

.formValue {
  font-family: "Host Grotesk", serif;
  font-size: 2rem;
  font-weight: 600;
}

.formPrice {
  color: #e86b70;
}

.selectCategory {
  width: 150px;
  align-self: flex-end;
  color: #a6a6a6;
  background-color: #232348;
  border: 2px solid #baafee;
  outline: none;
  font-family: "Host Grotesk", serif;
  border-radius: 30px;
  font-size: 1.1rem;
  padding: 2px;
  margin-right: 70px;
}

option {
  color: #a6a6a6;
  background-color: #232348;
  outline: none;
  font-family: "Host Grotesk", serif;
  height: 100%;
}

.submitBtn {
  background-color: #00bf5e;
  color: white;
  border: none;
  outline: none;
  font-family: "Host Grotesk", serif;
  font-weight: 700;
  font-size: 1.03rem;
  padding: 10px 20px;
  border-radius: 30px;
}

.expenseTransactions {
  display: flex;
  flex-direction: column;
}

.transactionHeader {
  font-size: 2.3rem;
  font-family: "Host Grotesk", serif;
  font-weight: 600;
}

.expenseLists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expenseCard {
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
  font-family: "Roboto", serif;
  background-color: #232348;
}

.icon {
  color: white;
}
