@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.expenseForm,
.income {
  display: flex;
  gap: 50px;
}

.addExpense,
.addIncome {
  display: flex;
  flex-direction: column;
}

input,
button {
  font-family: "Host Grotesk", serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.expenseList,
.incomeList {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.transactionDetails {
  display: flex;
  gap: 10px;
}

.body {
  display: flex;
  gap: 30px;
  background-color: #0f0f1f;
  color: azure;
  height: 100vh;
  align-items: flex-start;
  padding: 2rem;
}

.userNavigation {
  display: flex;
  flex-direction: column;
  background-color: #232348;
  gap: 10px;
  padding: 30px;
  height: 800px;
  margin-top: 50px;
  border-radius: 50px;
  align-items: flex-start;
  width: 230px;
  align-items: center;
  padding-top: 70px;
}
.userButton {
  background: none;
  border: none;
  padding: 3px 10px;
  outline: none;
  width: 100%;
  color: white;
  border: solid 2px transparent;
  display: flex;
  justify-content: flex-start;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    border-radius 0.3s ease;
  border-radius: 30px;
}

.userButton:hover {
  color: aliceblue;
  background-color: #454569;
  transition: all 0.3s ease;
}

.activeButton {
  background-color: #141444;
  color: rgb(247, 205, 236);
  padding: 3px 10px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  border: solid 2px #826cf0;
  box-shadow: 0px 1px 20px rgba(156, 89, 243, 0.5);
  display: flex;
  justify-content: flex-start;
  transition: all 1.15s ease;
}

.addExpense {
  display: flex;
  background-color: #232348;
  flex-direction: column;
  gap: 50px;
  padding: 40px 80px 20px 80px;
  height: 80vh;
  border-radius: 50px;
  align-items: center;
  width: 600px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
}

.formTitle {
  font-size: 2.3rem;
  font-family: "Host Grotesk", serif;
  font-weight: 600;
}

.mainDisplay {
  display: flex;
}

.expenseForm {
  flex: 1;
  width: auto;
}

input {
  background-color: #232348;
  color: #a6a6a6;
  border: 3px solid #9282e1;
  border-radius: 30px;
  font-size: 1.4rem;
  padding: 10px;
  outline: none;
  width: 300px;
}

input:focus {
  color: rgb(206, 199, 199);
  outline: none;
  border: 3px solid #baafee;
  box-shadow: 0px 1px 5px rgba(169, 135, 214, 0.5);
  transition:
    box-shadow 1s ease,
    border 0.3s ease;
}

.formValue {
  font-family: "Host Grotesk", serif;
  font-size: 2rem;
  font-weight: 600;
}

.formPrice {
  color: #e86b70;
}

.selectCategory {
  width: 150px;
  align-self: flex-end;
  color: #a6a6a6;
  background-color: #232348;
  border: 2px solid #baafee;
  outline: none;
  font-family: "Host Grotesk", serif;
  border-radius: 30px;
  font-size: 1.1rem;
  padding: 2px;
  margin-right: 70px;
}

option {
  color: #a6a6a6;
  background-color: #232348;
  outline: none;
  font-family: "Host Grotesk", serif;
  height: 100%;
}

.submitBtn {
  background-color: #00bf5e;
  color: white;
  border: none;
  outline: none;
  font-family: "Host Grotesk", serif;
  font-weight: 700;
  font-size: 1.03rem;
  padding: 10px 20px;
  border-radius: 30px;
}

.expenseTransactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 400px;
}

.transactionHeader {
  font-size: 2.3rem;
  font-family: "Host Grotesk", serif;
  font-weight: 600;
}

.expenseLists {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 330px;
  overflow-y: auto;
  padding-right: 10px;
}

.expenseLists::-webkit-scrollbar {
  width: 7px;
}

.expenseLists::-webkit-scrollbar-track {
  background: #313030;
  border-radius: 30px;
}

.expenseLists::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #d42aff, #e696ea);
  height: 90px;
  border-radius: 30px;
}

.expenseLists::-webkit-scrollbar-thumb:hover {
  background: #232348;
}

.expenseCard {
  display: flex;
  gap: 20px;
  font-size: 1.1rem;
  font-family: "Roboto", serif;
  background-color: #232348;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px 30px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #e86b70;
  border-radius: 50%;
  margin-top: 10px;
  align-self: flex-start;
}

.transactionName {
  font-size: 1.3rem;
}

.transactionDetails {
  font-size: 1rem;
  font-weight: 300;
  gap: 30px;
  margin-left: 20px;
  margin-top: 3px;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 43px;
  font-weight: 100;
}

.deleteIcon {
  font-size: 15px;
  display: inline-block;
  border-radius: 50%;
  padding: 3px;
  background-color: white;
  color: #232348;
  font-variation-settings:
    "FILL" 0,
    "wght" 800,
    "opsz" 20;
  margin: 0px 25px;
}

.detailsIcon {
  font-size: 17px;
  font-weight: 10;
}

p {
  display: flex;
  align-items: center;
  gap: 3px;
}

.transactionDescription {
  width: 250px;
}

.expenseForm {
  margin-top: 50px;
}

.expenseGraph {
  width: 100%;
  background-color: #232348;
  height: 380px;
  padding: 30px;
  border-radius: 50px;
}

.expenses {
  display: flex;
  flex-direction: column;
  width: 900px;
  gap: 10px;
}

/* Same layout for income section as expense */
.incomeForm {
  display: flex;
  gap: 50px;
}

.addIncome {
  display: flex;
  flex-direction: column;
}

.incomeTransactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transactionHeader {
  font-size: 2.3rem;
  font-family: "Host Grotesk", serif;
  font-weight: 600;
}

.incomeLists {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 330px;
  overflow-y: auto;
  padding-right: 10px;
}

.incomeLists::-webkit-scrollbar {
  width: 7px;
}

.incomeLists::-webkit-scrollbar-track {
  background: #313030;
  border-radius: 30px;
}

.incomeLists::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #d42aff, #e696ea);
  height: 90px;
  border-radius: 30px;
}

.incomeLists::-webkit-scrollbar-thumb:hover {
  background: #232348;
}

.incomeCard {
  display: flex;
  gap: 20px;
  font-size: 1.1rem;
  font-family: "Roboto", serif;
  background-color: #232348;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px 30px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #6ce5e8;
  border-radius: 50%;
  margin-top: 10px;
  align-self: flex-start;
}

.transactionName {
  font-size: 1.3rem;
}

.transactionDetails {
  font-size: 1rem;
  font-weight: 300;
  gap: 30px;
  margin-left: 20px;
  margin-top: 3px;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 43px;
  font-weight: 100;
}

.deleteIcon {
  font-size: 15px;
  display: inline-block;
  border-radius: 50%;
  padding: 3px;
  background-color: white;
  color: #232348;
  font-variation-settings:
    "FILL" 0,
    "wght" 800,
    "opsz" 20;
  margin: 0px 25px;
}

.detailsIcon {
  font-size: 17px;
  font-weight: 10;
}

.incomeGraph {
  width: 100%;
  background-color: #232348;
  height: 380px;
  padding: 30px;
  border-radius: 50px;
}
